# ==============================================================================
# 🌍 СРЕДА ОКРУЖЕНИЯ И РЕЖИМ РАБОТЫ (Environment)
# ==============================================================================
# production | development | test
NODE_ENV=development
# production | development
NEXT_PUBLIC_ENV=development

# ==============================================================================
# 🖥️ НАСТРОЙКИ СЕРВЕРА И СЕТИ (Server Runtime)
# ==============================================================================
# Порт, на котором слушает конкретное приложение
PORT=3000

# Внутренний/внешний адрес зоны Дашборда (для Multi-Zones проксирования)
INTERNAL_DASHBOARD_URL=http://localhost:3001

# ==============================================================================
# 🔌 ИНТЕГРАЦИЯ С БЭКЕНДОМ И API (Services & API)
# ==============================================================================
# Тип провайдера авторизации: graphql | msw
NEXT_PUBLIC_AUTH_BACKEND_TYPE=graphql

# Конечная точка GraphQL API бэкенда
NEXT_PUBLIC_AUTH_BACKEND_URL=http://localhost:8080/graphql

# ==============================================================================
# 🔗 ПУБЛИЧНЫЕ ССЫЛКИ И НАВИГАЦИЯ (Routing)
# ==============================================================================
# Главный домен платформы (точка входа)
NEXT_PUBLIC_APP_URL=http://localhost:3000
