# https://nx.dev/docs/guides/tips-n-tricks/define-environment-variables

# API Configuration
# protocol type: graphql | msw
# NEXT_PUBLIC_AUTH_BACKEND_TYPE=graphql
NEXT_PUBLIC_AUTH_BACKEND_TYPE=msw
# Backend endpoint
# NEXT_PUBLIC_AUTH_BACKEND_URL=http://localhost:8080/graphql
NEXT_PUBLIC_AUTH_BACKEND_URL=http://localhost:3000/msw-api/v1

# App Environment
# production | development
NEXT_PUBLIC_ENV=development

# Server Side Secrets & Internal Routing
DASHBOARD_DOMAIN=http://localhost:3001
