# Build artifacts
dist
tmp
out
build
out-tsc
*.tsbuildinfo
test-output
.nx/cache
.nx/workspace-data
project-graph.json

# Dependencies
node_modules

# Environment
.env
.env.*
!.env.example
.env.local
.env.*.local

# Logs
*.log
.pnpm-debug.log*

# Misc
.DS_Store
vite.config.*.timestamp*
vitest.config.*.timestamp*

# Next.js
.next


storybook-static
# Generated API clients
generated
